<html>
  <head>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', '<%= @item %>');

        data.addRows([
        <% @rows.each do |row| %>
          [new Date( <%= row["year"] %>, <%= row["month"] %>, <%= row["day"] %>, <%= row["hour"] %>, <%= row["min"] %>, <%= row["sec"] %>), <%= row["count"] %>],
        <% end %>  
        ]);

        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, {displayAnnotations: true});
      }
    </script>
  </head>

  <body>
  	<p>I rule and the variable is <%=  @wibble %> ok</p>
    <div id='chart_div' style='width: 700px; height: 240px;'></div>

  </body>
</html>


